nav {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #0d2818;
    color: #ffffff;
  
    ul {
      display: flex;
      flex-direction: row;
      padding-left: 65rem;
      list-style: none;
      margin: 0;
  
      li {
        padding: 2em 1.5rem;
        font-size: 1.5rem;
      }
  
      li:hover {
        cursor: pointer;
        background-color: #778da9;
        border-radius: 5px;
      }
    }
    
    img {
      padding-top: 2em;
      padding-left: 2em;

      img.hover {
        cursor: pointer;
        background-color: #778da9; 
      }
    }
  
  }

.landing {
    margin-top: 5em;
    display: flex;
    padding-left: 1.5em;
    
    .myPic {
        width: 650px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 12px 12px 2px 1px rgba(70, 70, 70, 0.2);
    }

    .aboutMe {
        padding-left: 3em;

        h1 {
          font-size: 2.5rem;
          padding-left: 15px;
        }

        h3 {
            font-weight: 600;
            font-size: 2rem;
        }

        p {
            padding-top: 6px;
            width: 80ch;  
            font-size: 1.5rem;
        }

        .me {
          background-color: #e0e1dd;
          color: #0d1b2a;
          padding: 1em;
          border-radius: 10px;
          box-shadow: 12px 12px 2px 1px rgba(70, 70, 70, 0.2);
        }
    }
}

.photo {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    text-align: center;
    
    h4 {
      font-weight: 500;
      font-size: 1.5rem;
    }
}

a {
  color: #252422;
  text-decoration: none;

  a:hover {
    background-color: #778da9;
    text-decoration: underline;
  }
}

.experiences {
  padding-left: 5em;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;

  p {
    width: 50ch;
  }

  .jobs {
    display: flex;
    flex-direction: column;
  }

  
}