.body-bg {
  background-color: #121212;
}

body {
  color: rgb(241, 241, 241);
  font-family: 'Poppins', system-ui;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 5rem 1rem 5rem;
  border-bottom: 2px solid white;
  background-color: #121212;
  z-index: 1;


  .mainNav {
    display: flex;
    flex-direction: row;
  }

  h3 {
    font-weight: 700;
    font-size: 2rem;
    padding: 1.5rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;

    li {
      padding: 2rem;
      font-size: 1rem;
      font-weight: 600;
    }

    li:hover {
      cursor: pointer;
      background-color: #778da9;
      border-radius: 5px;
    }
  }
  
  img {
    padding-left: 2em;

    img.hover {
      cursor: pointer;
      background-color: #778da9; 
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  padding: 2rem;

  h1 {
    padding-top: 0.5rem;
    padding-right: 2rem;
  }

  a {
    margin: 1rem;
  }
}

.landingPage {
  margin-bottom: 5rem;

  @media(max-width: 992px) {
    .landingPage {
      padding: 0 15px 15px 15px;
    }
  }

  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .carousel img {
      z-index: -1;
      top: 0;
      left: 0;
      height: 400px;
      max-width: none;
    }

    .landingMe {
      width: 45ch;
      padding-top: 5rem;

      h1 {
        border-bottom: 4.5px white solid;
        padding-bottom: 2rem;
        font-weight: 700;
      }

      h4 {
        font-weight: 500;
        padding-top: 2rem;
        line-height: 2.5rem;
      }

      Button {
        margin-top: 1rem;
        font-weight: 400;
        cursor: pointer;
      }
    }

    .pic {
      padding-left: 1rem;
      padding-top: 4rem;

      img {
        width: 50rem;
      }
    }
  }

  .aboutMe {
    display: flex;
    align-items: center;
    padding-top: 4rem;
    padding-left: 18rem;

    h3 {
      font-weight: 500;
    }

    h1 {
      font-weight: 700;
    }

      img {
        margin-top: 2rem;
        width: 18rem;
        height: 18rem;
        border-radius: 50%;
      }
      
      .description {
        padding-top: 3rem;

        p {
          padding-left: 3rem;
          
          font-size: 1.3rem;
          width: 70ch;
        }
      }
    
  }

  .experience {
    padding-top: 3rem;
    padding-left: 18rem;

    .expHeader {
      display: flex;
      flex-direction: row;
      border-top: 5px solid white;
      padding-top: 1.5rem;
      width: 85rem;

      h1 {
        font-weight: 700;
      }

      Button {
        margin-left: 7rem;
        font-size: 15px;
        height: 45px;
      }
    }    
  }

  .expJobs {
    padding-top: 3rem;

    h3 {
      padding-top: 1rem;
      font-size: 2rem;
      font-weight: 600;
    }

    h4 {
      padding-top: 0.5rem;
    }

    p {
      font-size: 18px;
      width: 50ch;
      padding-top: 1rem;
    }
  }

  .education {
    padding-top: 3rem;

    h2 {
      font-weight: 700;
    }

    h4 {
      padding-top: 2rem;
      font-size: 2rem;
    }

    h5 {
      padding-top: 0.5rem;
    }

    p {
      padding-top: 0.5rem;
      width: 95ch;
      font-size: 18px;
    }
  }

  .certificates {
    display: flex;
    flex-direction: column;
    
    h2 {
      padding-top: 3rem;
      font-weight: 700;
    }

    img {
      width: 600px;
      margin: 1rem;
      border-radius: 3px;
    }

    .row1 {
      display: flex;
      flex-direction: row;
      padding-top: 1rem;
    }

    .row2 {
      display: flex;
      flex-direction: row;
      padding-top: 1rem;
    }

    .row3 {
      display: flex;
      flex-direction: row;
      padding-top: 1rem;
    }
  }
}

Carousel {
  min-height: 50rem;
}

.projects {
  margin-bottom: 5rem;
  
  .projectHead {
    padding-left: 10rem;
    padding-top: 5rem;

    h1 {
      font-weight: 700;
      padding-bottom: 3rem;
    }
  }

  .oddNum {
    padding-left: 10rem;
    margin-bottom: 3rem;

    h1 {
      padding-top: 1rem;
    }

    img {
      width: 65rem;
    }

    .description {
      padding-left: 2rem;

      h4 {
        padding-top: 5rem;
        width: 30ch;
        font-weight: 400;
      }
    }
    
  }

  .evenNum {
    padding-left: 10rem;
    margin-bottom: 3rem;

    h1 {
      padding-top: 1rem;
      padding-left: 52rem;
    }

    img {
      width: 65rem;
      padding-right: 10rem;
    }

    h4 {
      padding-top: 5rem;
      width: 30ch;
      font-weight: 400;
    }
  }

  .yapper {
    margin-top: 15rem;
  }

  .pokedex {
    margin-top: 10rem;
  }

  .shopping {
    margin-top: 12rem;
  }

  .game {
    margin-top: 10rem;
  }

  .email {
    margin-top: 10.5rem;
  }

  .inventory {
    margin-top: 9rem; 
  }

  .backRep {
    margin-left: 1rem;
  }
}

.photos {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .picSection {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;

    h1 {
      padding-left: 13rem;
      padding-bottom: 3rem;
    }

    h2 {
      padding-left: 13rem;
      padding-bottom: 3rem;
    }

    img {
      width: 500px;
    }

    .row1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .row2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90rem;
  padding: 8rem;

  .links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
  }

  Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
  }
}