.body-bg {
  background-color: #1B2424;
}

nav {
  position: relative;
  display: flex;
  width: 100%;
  color: #ffffff;
  min-width: 25%;
  padding-top: 4rem;
  padding-left: 7rem;

  h3 {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 1rem;
    cursor: pointer;
  }

  ul {
    display: flex;
    flex-direction: row;
    padding-right: 40rem;
    list-style: none;
    margin: 0;

    li {
      padding: 2rem;
      font-size: 1rem;
    }

    li:hover {
      cursor: pointer;
      background-color: #778da9;
      border-radius: 5px;
    }
  }
  
  img {
    padding-top: 2em;
    padding-left: 2em;

    img.hover {
      cursor: pointer;
      background-color: #778da9; 
    }
  }
}

.landing {
  color: #ffffff;

  .aboutMe {
    width: 60ch;
    padding-top: 5rem;
    padding-left: 8rem;

    h1 {
      border-bottom: 4.5px white solid;
      padding-bottom: 2rem;
    }

    h4 {
      font-weight: 500;
      padding-top: 2rem;
      line-height: 2.5rem;
    }

    h5 {
      font-weight: 400;
      padding-top: 2rem;
      cursor: pointer;
    }
  }

  .pic {
    padding-left: 50rem;
    img {
      width: 50rem;
    }
  }
}
